* {
  font-family: Consolas;
  font-style: italic; /* Set to italic */
  background: transparent;
  color: #dec6c0; 
}

#window {
  color: #dec6c0; 
  border-color: #040A2A; /* Mapped to Rofi border-col */
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #040A2A 100%); 
  border-radius: 10px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #040A2A; /* Mapped to Rofi border-col */
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #040A2A; /* Mapped to Rofi border-col */
  color: #dec6c0; 
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #040A2A; 
  color: #dec6c0; 
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #040A2A; 
  color: #dec6c0; 
  border-color: #040A2A; /* Mapped to Rofi border-col */

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: italic; /* Set to italic */

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #040A2A; 
  background-color: #040A2A; 
  border-color: #6F827D; /* Set to accent color */
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
